// Mixins
.font-face(@family, @local, @local_, @path, @weight: normal, @style: normal){
	font-family: '@{family}';
	src: url('../fonts/@{path}.eot');
	src: local('@{local}'), 
		 local('@{local_}'), 
		 url('../fonts/@{path}.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/@{path}.woff2') format('woff2'), 
		 url('../fonts/@{path}.woff') format('woff'), 
		 url('../fonts/@{path}.ttf') format('truetype'), 
		 url('../fonts/@{path}.svg#Gotham-Medium') format('svg');
	font-weight: @weight;
	font-style: @style;
}

.border-radius(@val: 10px){
	-webkit-border-radius: @val;
	   -moz-border-radius: @val;
	        border-radius: @val;
}

.box-shadow(@val){
    -webkit-box-shadow: @val;
       -moz-box-shadow: @val;
            box-shadow: @val;
}

.text-shadow(@val){
    -webkit-text-shadow: @val;
       -moz-text-shadow: @val;
            text-shadow: @val;
}

.padding-top-bottom(@val: 10px){
	padding-top: @val;
	padding-bottom: @val;
}

.translate(@X: 0, @Y: 0, @position: relative){
	position: @position;
	-webkit-transform: translate(@X, @Y);
	   -moz-transform: translate(@X, @Y);
	    -ms-transform: translate(@X, @Y);
	     -o-transform: translate(@X, @Y);
	        transform: translate(@X, @Y);
}

.transition(@time: 0.3s){
	-webkit-transition: @time;
	   -moz-transition: @time;
	    -ms-transition: @time;
	     -o-transition: @time;
	    	transition: @time;
}

.rotate(@deg: 45deg){
	-webkit-transform: rotate(@deg);
	   -moz-transform: rotate(@deg);
	    -ms-transform: rotate(@deg);
	     -o-transform: rotate(@deg);	
	        transform: rotate(@deg);
}

.scale(@scale: 1.1){
	-webkit-transform: scale(@scale);
	   -moz-transform: scale(@scale);
	    -ms-transform: scale(@scale);
	     -o-transform: scale(@scale);
	        transform: scale(@scale);
}

.skew(@deg1, @deg2) {
	-webkit-transform: skew(@deg1, @deg2);
	   -moz-transform: skew(@deg1, @deg2);
	    -ms-transform: skew(@deg1, @deg2);
	     -o-transform: skew(@deg1, @deg2);
	        transform: skew(@deg1, @deg2);
}

.translate3d (@x, @y: 0, @z: 0) {
	-webkit-transform: translate3d(@x, @y, @z);
	   -moz-transform: translate3d(@x, @y, @z);
	    -ms-transform: translate3d(@x, @y, @z);
	     -o-transform: translate3d(@x, @y, @z);
	        transform: translate3d(@x, @y, @z);
}

.transform-origin (@x:center, @y:center) {
	-webkit-transform-origin: @x @y;
	   -moz-transform-origin: @x @y;
	    -ms-transform-origin: @x @y;
	     -o-transform-origin: @x @y;
	        transform-origin: @x @y;
}

.transform-all(@functions){
	-webkit-transform: @functions;
	   -moz-transform: @functions;
	    -ms-transform: @functions;
	     -o-transform: @functions;
	        transform: @functions;
}

.perspective (@value: 1000) {
	-webkit-perspective: @value;
	   -moz-perspective: @value;
	    -ms-perspective: @value;
	        perspective: @value;
}

.calc_h(@expression) {
    height: -webkit-calc(@expression);
    height:    -moz-calc(@expression);
    height:      -o-calc(@expression);
    height:         calc(@expression);
}

.calc_w(@expression) {
    width: -webkit-calc(@expression);
    width:    -moz-calc(@expression);
    width:      -o-calc(@expression);
    width:         calc(@expression);
}

.calc_fs(@expression) {
    font-size: -webkit-calc(@expression);
    font-size:    -moz-calc(@expression);
    font-size:      -o-calc(@expression);
    font-size:         calc(@expression);
}

.linear-gradient(@color1, @color2, @direction: to left){
	background: @color1;
	background: -webkit-linear-gradient(@direction, @color1, @color2);
	background: linear-gradient(@direction, @color1, @color2);
}

.opacity(@opacity: .9) {
	@ieOpacity: @opacity * 100;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@{ieOpacity})";
		filter: ~"alpha(opacity=@{ieOpacity})";	
		opacity: @opacity;
}

.grayscale(@amount: 100%) {
    filter: grayscale(@amount);
    -webkit-filter: grayscale(@amount);
    -moz-filter: grayscale(@amount);
    -o-filter: grayscale(@amount);
    -ms-filter: grayscale(@amount);
}

.placeholder(@rules) {
    &::-webkit-input-placeholder{ @rules(); }
    &:-moz-placeholder{ @rules(); }
    &::-moz-placeholder{ @rules(); }
    &::-o-placeholder{ @rules(); }
    &:-ms-input-placeholder{ @rules(); }
}

.selection(@color, @bg) {
	&::selection {
		-webkit-font-smoothing: antialiased;
		color: @color;
		text-shadow: none;
		background: @bg;
		background: fadeout(@bg, 30%);
	}
	&::-moz-selection {
		-webkit-font-smoothing: antialiased;
		color: @color;
		text-shadow: none;
		background: @bg;
		background: fadeout(@bg, 30%);
	}
}

.btn-page(@color: @white, @pad1: 10px, @pad2: 20px, @width: auto, @font-size: 14px){
	.inline-block;
	min-width: @width;
	color: @color;
	font-size: @font-size;
	padding: @pad1 @pad2;
	line-height: normal;
	.no-decoration;
	.transition();

	@media @smartphones{
		font-size: @font-size * 0.8;
		white-space: normal;
	}
}