@import "mixins.less";
//variaveis
@smartphones_small: ~"only screen and (max-width: 380px)";
@smartphones: ~"only screen and (max-width: 767px)";
@tablets: ~"only screen and (min-width: 768px) and (max-width: 991px)";
@desktops: ~"only screen and (min-width: 992px)";
@notebooks: ~"only screen and (max-width: 1440px)";

@white: #ffffff;
@black: #000000;
@red_danger: #e74c3c;
@green_success: #2ecc71;


iframe{ .block; }
input[disabled], button[disabled]{ cursor: not-allowed!important; }
em { font-style: normal }
ul,
ol { padding: 0; margin: 0; list-style-type: none }
.no-float { float: none }
.over-hide { overflow: hidden }
.text-white { color: #fff }
.relative { position: relative }
.absolute { position: absolute }
.fixed { position: fixed }
.uppercase { text-transform: uppercase }
.inline-block { display: inline-block; vertical-align: top }
.block { display: block }
.hide { display: none }
.wrapper { position: relative; width: 100% }
.wrapper:before,
.wrapper:after { display: table; content: " " }
.wrapper:after { clear: both }
.webdoor { background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; -o-background-size: cover; background-position: center; background-repeat: no-repeat }
textarea { resize: none; overflow: hidden }
a { outline: none }
.overlay-map { font-size: 0; line-height: 0 }
.text-footer { .inline-block; font-size: 13px; line-height: 21px }
h1,
h2,
h3,
h4,
h5,
h6 { margin-top: 0; line-height: 1.5em }
p { 
	margin-bottom: 25px; 
	line-height: 1.5em; 
	font-size: 1.2em;

	@media @smartphones {
		font-size: 1.1em; 
	}
}
.no-marg { margin: 0 !important }
.no-pad { padding: 0 !important }
.no-decoration { text-decoration: none !important }
.no-outline { outline: 0 !important }
button, nav a { .no-outline; }

.full-height{
	height: 100vh;
	max-height: auto;
	min-height: 660px;
	@media @smartphones{
		height: 100vh;
		min-height: 100vh;
	}
}

.btn,
a.btn{
	.btn-page();
	.uppercase;
}

.vert-center{
	top: 50%;
	.translate(0, -50%);
}

.bg-parallax {
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    @media @smartphones{
    	background-attachment: scroll;
        background-position: 50% 50%;
    }
}

.form-group{
	margin-bottom: 10px;
}

.form-control{
	.no-outline;
	width: 100%; 
	font-size: 14px;  
	line-height: normal;
	padding: 7px 10px;
	height: auto;
	background-color: @white;

	.placeholder({
		line-height: normal;
	});
}

@media @smartphones {
	.xs-text-center {
		text-align: center
	}
}
@media @smartphones_small {
	.col-fluid-xs-small{
		width: 100%;
	}
	.hidden-xs-small{
		display: none;
	}
}