@import "flexbox.less";
@import "font-awesome.less";
@import "mixins.less";
@import "reset.less";
// @import "animate.less";


/************* Fonts **************/
@font-face {
	// .font-face(Alwyn, Alwyn Bold, Alwyn-Bold, alwynnew-bd-webfont, 700);
}

// .animated{
// 	.animated(.8s);
// }

h1{
	&.main-logo{
		margin: 0;
		padding: 0;
	}
}


body{
	
}

.navbar-collapse{
	padding-left: 0;
	padding-right: 0;
}

@media @smartphones {
	.xs-text-center {
		text-align: center;
	}
	.navbar-toggle{
		margin-top: 20px;
		margin-right: 0;
		.transition();
	}	
	.navbar-toggle.collapsed .icon-bar {
    	background: @black;
	}
	.navbar-toggle .icon-bar {
	    width: 26px;
	    background: @black;
	    height: 3px;
	}

	.sec-header{
		&.active{
			.navbar-toggle{
				margin-top: 5px;
				margin-bottom: 0;
			}
		}
	}
}

.navbar-toggle .icon-bar {
	.transition(.2s);
}

/* ANIMATED X */
.navbar-toggle.x .icon-bar:nth-of-type(1) {
	.rotate(45deg);
	.transform-origin(10%,10%);
}

.navbar-toggle.x .icon-bar:nth-of-type(2) {
	.opacity(0);
}

.navbar-toggle.x .icon-bar:nth-of-type(3) {
	.rotate(-45deg);
	.transform-origin(10%,90%);
}

/* ANIMATED X COLLAPSED */
.navbar-toggle.x.collapsed .icon-bar:nth-of-type(1) {
	.rotate(0);
}

.navbar-toggle.x.collapsed .icon-bar:nth-of-type(2) {
	.opacity(1);
}

.navbar-toggle.x.collapsed .icon-bar:nth-of-type(3) {
	.rotate(0);
}
/* END ANIMATED X */

// modal default style
.modal-open {
	.over-hide;
}

.modal {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	.fixed;
	.hide;
	.over-hide;
	.no-outline;
	-webkit-overflow-scrolling: touch;
}

.modal.fade .modal-dialog {
	.translate(0, -25%);
	.transition(~"transform 0.3s ease-out");
}

.modal.in .modal-dialog {
	.translate(0, 0);
}

.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto
}

.modal-dialog {
	.relative;
	width: auto;
	margin: 10px;
	padding: 25px;
}

.modal-content {
	.relative;
	background-color: @white;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.2);
	.border-radius(8px);
	.no-outline;
	.box-shadow(0 3px 9px fadeout(@black, 50%));
}

.modal-backdrop {
	.fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: @black;
}

.modal-backdrop.fade {
	.opacity(0);
}

.modal-backdrop.in {
	.opacity(.5);
}

.modal-header {
	padding: 15px;
	border-bottom: 1px solid #e5e5e5
}

.modal-header .close {
	margin-top: -2px
}

.modal-title {
	margin: 0;
	line-height: 1.42857143
}

.modal-body {
	.relative;
	padding: 15px
}

.modal-scrollbar-measure {
	.absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll;
}

.modal-dialog {
	width: 700px;
	margin: 10% auto 30px;
	padding: 0;

	@media @smartphones {
		width: 90%;
	}
}

.icon-close {
	.block;
	.absolute;
	top: -20px;
	right: -20px;
	width: 40px;
	height: 40px;
	background: @black;
	color: @white;
	cursor: pointer;
	z-index: 9999;
	.border-radius(100%);
	.transition();

	&:hover {
		background: lighten(@black, 10%);
		.scale(1.1);
	}

}

.icon-close i {
	.block;
	color: @white;
	line-height: 40px;
	text-align: center;
	font-size: 25px;
}


/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #eee;
	clip: auto !important;
	clip-path: none;
	color: #444;
	display: block;
	font-size: 1em;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}
